/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.square {
  aspect-ratio: 1 / 1;
}

#celebration-list {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1.25rem;
  grid-template-columns: repeat(2, 9rem);
}

.celebration-width {
  width: calc(9rem * 2 + 1.25rem * 1);
}

@media (min-width: 768px) {
  #celebration-list {
    grid-template-columns: repeat(3, 9rem);
  }
  .celebration-width {
    width: calc(9rem * 3 + 1.25rem * 2);
  }
}

