@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .square {
    aspect-ratio: 1 / 1;
  }

  #celebration-list,
  #draft-celebration-list {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 1.25rem;
    grid-template-columns: repeat(2, 9rem);
  }

  .celebration-width,
  .draft-celebration {
    width: calc(9rem * 2 + 1.25rem * 1);
  }

  @media (min-width: 768px) {
    #celebration-list,
    #draft-celebration-list {
      grid-template-columns: repeat(3, 9rem);
    }

    .celebration-width,
    .draft-celebration {
      width: calc(9rem * 3 + 1.25rem * 2);
    }
  }

  input[type="date"] {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}